*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-orange{
    background-color: #FF6900;
}

.d-flex{
    display: flex;
}

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem 0.5rem;
}


.main-menu{
    width: 25%;
    gap: .5rem;
    align-items: center;
}

.main-menu .menu-items{
    list-style: none;
}

.main-menu .menu-items a{
    text-decoration: none;
    color: black;
    display: inline-block;
    color: white;
    font-weight: bold;
    
}

.logo{
    width: 50%;
    text-align: center;
}

.logo img{
    width: 100px;
}

.personal-area{
    width: 25%;
    justify-content: end;
    gap: .5rem;
    color: white;
    align-items: center;
} 

.personal-area svg{
    width: 15px;
    height: 15px;
    cursor: pointer;
    
}

.product{
    position: relative;
}

.product img{
    width: 100%;
}

.row {
    gap: 1rem;
    flex-wrap: wrap;
  }
  
.col {
    flex-basis: calc((100% - 2rem) / 3);
    flex-grow: 1;
  }

  .product .product-favorite{
      position: absolute;
      top: 10px;
      right: 0;
      font-size: 2rem;
      background-color: white;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
  }

  .product .product-sales{
      position: absolute;
      left: 0;
      bottom: 90px;
      color: white;
      font-size: .9rem;
      font-weight: bold;
  }

  .product .product-sales .sales{
      background-color: red;
      padding: .3rem;
  }

  .product .product-sales .stostenibility{
      background-color: green;
      padding: .3rem;
  }
  
  .product .product-price{
      color: red;
      font-weight: bold;
  }

  .product .product-price span{
      color: black;
      text-decoration: line-through;
  }