*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    padding-top: 100px;
}

.bg-orange{
    background-color: #FF6900;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    
}

.d-flex{
    display: flex;
}

.j-content-between{
    justify-content:space-between;
}

.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem 0.5rem;
}


.main-menu{
    width: 25%;
    gap: .5rem;
    align-items: center;
}

.main-menu .menu-items,
footer ul li{
    list-style: none;
}

.main-menu .menu-items a,
footer ul li a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-weight: bold;
}

.logo{
    width: 50%;
    text-align: center;
}

.logo img{
    width: 100px;
}

.personal-area{
    width: 25%;
    justify-content: end;
    gap: .5rem;
    color: white;
    align-items: center;
} 

.personal-area a svg,
footer .footer-social .footer-social-icons a svg{
    width: 18px;
    height: 18px;
    cursor: pointer;
    color: white;
    
}

.row {
    gap: 1rem;
    row-gap: 3rem;
    flex-wrap: wrap;
  }
  
.col {
    flex-basis: calc((100% - 2rem) / 3);
    flex-grow: 1;
  }

.product{
    position: relative;
}

.product .product-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product:hover .product-image{
    display: none;
}

.product .product-image-hover{
    display: none;
}

.product:hover .product-image-hover{
    display: block;
}

.product .product-favorite{
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 2rem;
    background-color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.product .product-sales{
    position: absolute;
    left: 0;
    bottom: 90px;
    color: white;
    font-size: .9rem;
    font-weight: bold;
}

.product .product-sales .sales{
    background-color: red;
    padding: .3rem;
}

.product .product-sales .stostenibility{
    background-color: green;
    padding: .3rem;
}

.product .product-price{
    color: red;
    font-weight: bold;
    font-size: .9rem;
}

.product .product-price span{
    color: black;
    text-decoration: line-through;
}

footer{
    background-color: black;
    color: white;
    padding: 1rem;
    margin-top: 2.5rem;
}

footer ul{
    gap: .7rem;
    padding-top: .5rem;
}

footer ul li{
    font-size: .9rem;
}

footer .footer-social .footer-social-icons{
    padding-top: .5rem;
}
